/**********************/
/*SETTING UP*/
/**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  color: rgb(34, 32, 32);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}

/**********************/
/*HERO AND NAV*/
/**********************/
.row {
  margin: 0 auto;
  max-width: 75rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero.webp);
  background-size: cover;
  height: 70vh;
  background-position: center;
  position: relative;
}
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .content h1 {
  font-size: 5.7rem;
}
.hero .content p {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.hero .content button {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.hero .content button:hover {
  background: rgb(11, 125, 3);
}

/**********************/
/*NEVEGATION*/
/**********************/
.flex-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  z-index: 20;
}

.navbar {
  z-index: 1;
  background: yellowgreen;
}

.navbar .logo {
  color: rgb(34, 32, 32);
  font-size: 1.7rem;
  font-weight: 800;
}

.main-nav {
  z-index: -1;
}
.main-nav li {
  display: inline-block;
  padding: 0.8rem 1.8rem;
}
.main-nav li a:visited,
.main-nav li a:link {
  cursor: pointer;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
.main-nav .none_underline:last-child {
  list-style: none;
}
.main-nav li a:hover,
.main-nav li a:active {
  color: rgb(26, 26, 26);
  border-bottom: 2px solid;
}

#toggle {
  display: none;
  width: 30px;
  height: 30px;
  padding: 20px 0 0 0;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/**********************/
/*MOBILE*/
/**********************/
.service {
  margin: 2rem 0;
  text-align: center;
  margin: 0 auto;
  max-width: 75rem;
}
.service h2 {
  font-size: 3.2rem;
  padding: 1rem 0;
  font-weight: 600;
}
.service .service-conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.service .service-conteiner h2 {
  font-size: 2rem;
}
.service .service-conteiner .grid-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/**********************/
/*AGENDA*/
/**********************/
.agenda {
  background: yellow;
}
.agenda h1 {
  color: red;
}

/**********************/
/*MOBILE*/
/**********************/
@media (max-width: 80rem) {
  .navbar {
    padding: 0 1rem;
  }
  .navbar .logo {
    font-size: 1rem;
  }
  .main-nav {
    display: none;
    padding: 2rem 0.1rem;
  }
  .main-nav li {
    display: block;
    padding: 0.6rem;
  }
  .main-nav li a:visited {
    font-size: 0.2rem;
  }
  .main-nav li a:hover {
    border: 0;
  }
  #toggle {
    display: block;
  }
  .hero .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .hero .content h1 {
    font-size: 2.7rem;
  }
  .hero .content p {
    margin: 0;
  }
  .hero .content button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .service {
    margin: 2rem 0;
    padding: 0.9rem;
  }
  .service h2 {
    font-size: 3rem;
  }
  .service .service-conteiner {
    gap: 50px;
  }
  .service .service-conteiner h2 {
    font-size: 2rem;
  }
  .service .grid-item {
    padding: 2rem 0;
  }
}

/*# sourceMappingURL=main.scss.map */
