@charset "UTF-8";
/**********************/
/*SETTING UP*/
/**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Roboto", "Open Sans", "Helvetica", "Arial", sans-serif;
  color: rgb(34, 32, 32);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/**********************/
/*HERO*/
/**********************/
.row {
  margin: 0 auto;
  max-width: 77rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero.webp);
  background-size: cover;
  height: 70vh;
  background-position: center;
  position: relative;
}
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hero .content h1 {
  font-size: 5.7rem;
}
.hero .content p {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.hero .content button {
  padding: 1.1rem 2.3rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.hero .content button:hover {
  background: rgb(11, 125, 3);
}

/**********************/
/*HERO AND NAV*/
/**********************/
.navigation {
  height: 4.063rem;
  background: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  width: 100%;
}

.brand {
  position: absolute;
  padding-left: 1.25rem;
  float: left;
  line-height: 4.063rem;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
}

.brand a, .brand a:visited {
  color: rgb(34, 32, 32);
  text-decoration: none;
}

.nav-container {
  margin: 0 auto;
  max-width: 77rem;
}

nav {
  float: right;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: right;
  position: relative;
}

nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 1.5rem;
  line-height: 4.036rem;
  color: rgb(34, 32, 32);
  text-decoration: none;
}

nav ul li a {
  color: rgb(34, 32, 32);
}

.nav-list a:hover {
  text-decoration: 1px underline rgb(34, 32, 32);
}

nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  line-height: 1.5rem;
  padding: 0.938rem;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 4.063rem;
  width: 4.375rem;
}

@media only screen and (max-width: 800px) {
  .brand {
    padding-left: 0.625rem;
    font-size: 0.7rem;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 4.063rem 0 0.938rem;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 0.938rem;
    line-height: 1.5rem;
    background: #fff;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
  .brand {
    position: absolute;
    padding-left: 0;
    float: left;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 0.3em;
    text-decoration: none;
  }
}
@media only screen and (max-width: 800px) {
  #navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: rgb(34, 32, 32);
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #navbar-toggle span:before {
    top: -10px;
  }
  #navbar-toggle span:after {
    bottom: -10px;
  }
  #navbar-toggle.active span {
    background-color: transparent;
  }
  #navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
  }
  #navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  #navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }
}
/**********************/
/*SERVICE*/
/***********************/
.service {
  margin: -0.5rem 0;
  text-align: center;
}
.service h2 {
  font-size: 3.2rem;
  padding: 1rem 0;
  font-weight: 500;
}
.service .service-conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 77rem;
}
.service .service-conteiner h2 {
  font-size: 2rem;
}
.service .service-conteiner .grid-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0.625rem;
}

/**********************/
/*AGENDA*/
/**********************/
.agenda {
  background: linear-gradient(rgba(0, 0, 0, 0.105), rgba(0, 0, 0, 0.105)), url(../img/design-sem-nome-5-YD0pZabB0GTZ9LB3.webp);
  background-size: cover;
  height: 70vh;
  background-position: center;
  position: relative;
  margin: 10rem 0 0 0;
}
.agenda .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.agenda .content h1 {
  font-size: 5.7rem;
}
.agenda .content p {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.agenda .content button {
  padding: 1.1rem 2.3rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.agenda .content button:hover {
  background: rgb(11, 125, 3);
}

.study {
  display: flex;
  justify-content: center;
  margin: 7rem 0 0 0;
}
.study .study-conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 77rem;
  position: relative;
}
.study .study-conteiner .card {
  width: 48%;
  margin: 0 0.4rem;
}
.study .study-conteiner .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6156862745);
  z-index: 99999;
  display: none;
}
.study .study-conteiner .popup-image span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  z-index: 100;
  font-size: 2rem;
  padding: 0.5rem 1.1rem;
  color: #fff;
}
.study .study-conteiner .popup-image span:hover {
  background: rgba(221, 219, 219, 0.4039215686);
}
.study .study-conteiner .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 68vw;
}
.study .study-conteiner .card img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
}
.study .study-conteiner .card .card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem 0;
}
.study .study-conteiner .card .card-content h3 {
  font-size: 2.1rem;
  color: rgba(23, 23, 23, 0.836);
}
.study .study-conteiner .card .card-content p {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  color: rgb(93, 87, 94);
}
.study .study-conteiner .card .card-content button {
  padding: 1.1rem 2.3rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.study .study-conteiner .card .card-content button:hover {
  background: rgb(11, 125, 3);
}

.subscript {
  background: url(../img/desktop.avif);
  height: 47vh;
  background-position: center;
  background-size: cover;
  margin: 3rem 0;
  color: #fff;
}
.subscript .form-section {
  position: static;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  color: #fff;
}
.subscript .form-section label {
  display: block;
  margin-bottom: 0.5rem;
}
.subscript .form-section input {
  display: block;
  width: 400px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  font-size: 1.2rem;
}
.subscript .form-section button {
  padding: 1.1rem 2.3rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.subscript .form-section button:hover {
  background: rgb(11, 125, 3);
}
.subscript input::-webkit-input-placeholder {
  font-size: 1rem;
}

.instagram {
  color: rgb(0, 0, 0);
  margin: 2rem 0;
}
.instagram .instagram-conteiner {
  display: flex;
  margin: 0 auto;
  max-width: 77rem;
  justify-content: center;
}
.instagram .instagram-conteiner img {
  width: 100%;
  padding: 0 0.7rem;
  margin: 2rem 0;
}
.instagram h2 {
  font-weight: 500;
}
.instagram button {
  padding: 1.1rem 2.3rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgb(173, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}
.instagram button:hover {
  background: rgb(11, 125, 3);
}

.footer {
  background: rgb(0, 0, 0);
  padding: 0.7rem 0;
}
.footer .icon-conteiner {
  margin: 0 auto;
  max-width: 77rem;
  display: flex;
  justify-content: end;
}
.footer .icon-conteiner a i {
  color: #fff;
  margin: 0 1rem;
  font-size: 1.6rem;
  float: left;
}
.footer .icon-conteiner a i:hover {
  color: rgb(34, 32, 32);
}

/**********************/
/*MOBILE*/
/**********************/
@media (max-width: 80rem) {
  .navbar {
    padding: 0 1rem;
  }
  .navbar .logo {
    font-size: 1rem;
  }
  .main-nav {
    display: none;
    padding: 2rem 0.1rem;
  }
  .main-nav li {
    display: block;
    padding: 0.6rem;
  }
  .main-nav li a:visited {
    font-size: 0.2rem;
  }
  .main-nav li a:hover {
    border: 0;
  }
  #toggle {
    display: block;
  }
  .hero .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .hero .content h1 {
    font-size: 2.7rem;
  }
  .hero .content p {
    margin: 0;
  }
  .hero .content button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .service h2 {
    font-size: 3rem;
  }
  .service .service-conteiner {
    gap: 50px;
    padding: 0.9rem;
  }
  .service .service-conteiner h2 {
    font-size: 2rem;
  }
  .service .grid-item {
    padding: 2rem 0;
  }
  .agenda {
    background-size: cover;
    height: 70vh;
    background-position: center;
    position: relative;
  }
  .agenda .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .agenda .content h1 {
    font-size: 2.7rem;
  }
  .agenda .content p {
    margin: 0;
  }
  .agenda .content button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .study {
    margin: 3rem 0;
    flex-direction: column;
    padding: 1rem 0;
  }
  .study .study-conteiner {
    flex-direction: column;
    padding: 0 2rem;
  }
  .study .study-conteiner .popup-image img {
    max-width: 100vw;
  }
  .study .study-conteiner .card {
    width: 100%;
    margin: 0;
  }
  .study .study-conteiner .card img {
    width: 100%;
  }
  .study .study-conteiner .card .card-content h3 {
    font-size: 1.5rem;
  }
  .study .study-conteiner .card .card-content p {
    padding: 1rem 0;
    font-size: 1rem;
  }
  .study .study-conteiner .card .card-content button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .subscript h2 {
    font-size: 3.3rem;
  }
  .subscript .form-section {
    margin: 1rem 0;
  }
  .subscript .form-section input {
    width: 300px;
  }
  .instagram .instagram-conteiner {
    display: flex;
    margin: 0 auto;
    max-width: 77rem;
  }
  .instagram .instagram-conteiner img {
    width: 30%;
    padding: 0 0.2rem;
  }
  .instagram button {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
  .footer {
    padding: 2rem 0;
  }
  .footer .icon-conteiner {
    justify-content: start;
  }
}

/*# sourceMappingURL=main.css.map */
